body {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

button {
    font-size: 60px;
    border-radius: 50%;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.start {
    color: greenyellow;
    background-color: green;
}

.stop {
    color: brown;
    background-color: red;
}